{% extends "Users/home_base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head></head>


<body>
   
 <p align="center">
    <font size=6 face="Trebuchet MS" color="darkgreen"> Welcome to SoftProjectManager!
        <br>
        🥳🥳🥳🥳🥳🥳🥳🥳🥳
        <br>
    This application provides a simple way to organize
    and coordinate group efforts for Oakland University CSI students who are completing their
    Sophomore projects.</font>
 </p>
 <br>

     <center>
        <font size=5 face="Helvetica" color="mediumblue">
         <b>How to use SoftProjectManager:</b>
        </font>
         <br>
         <font size=3 face="Verdana" color="black">
            <em>If you need to get back to this set of instructions, click on SoftProjectManager!</em>
        </font>
        </center>
         <ol>
            <font size=4 face="Trebuchet MS" color="royalblue">
             <li>Go to Register to create an account and fill out the form to sign up</li>
             <li>Login to your newly created account</li>
             <li>If your group has not been created yet, click on Create Group and fill out the form </li>
             <li>This will bring you to the Join Group tab, where you can join the group that you created</li>
             <li>Now on the main page it should show your group name, here you can click Create New Task to
                create a new task</li>
                <li>Fill out the form and then click create, the task should now appear on the main page</li>
                <li>To set a task as complete, click on the task name, click edit, click the is complete box and then
                    click update</li>
                    <li>You can repeat this process for tasks either for your group, or if you click "My Chores" you
                        can have a seperate set of tasks for yourself</li>
            </font>
         </ol>

     


</body>

</html>
{% endblock content %}
